
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

}

body {
  margin: 0;
  padding: 0;
}

.page_wrapper {
  margin: 0 auto;
  width: 90%;
    -webkit-animation-property: width;
  -webkit-animation-property: height;
  -webkit-transition-duration: 2s;
}

/* Top of page */

.top_wrapper {
  position: relative;
  background-color: lightgray;
  width: 100%;
  height: 350px;
  margin:0px auto;
  padding: 0px;
  font-family: sans-serif;
}

.top {
  background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.7)),
              url('../images/waves_crashing.jpg');
  background-position: 70%, 80%;
  background-size: cover;
  width:100%;
  height:350px;
}

.logo_top {
  position: absolute;
  height: 30px;
  left:1%;
  top:0;
  display: inline-block;
  text-align: center;
}

.logo_top h4 {
  display: inline-block;
  font-size: 1.5vw;
}

.logo_top img {
  display: inline-block;
  margin-left: 30px;
  width:8%;
}

.top p {
  position: relative;
  margin:0px;
  top: 135px;
  font-size: 12px;
  text-align: center;
}

.top h1 {
  color: white;
  position: relative;
  margin:0px;
  top: 140px;
  font-size: 10vw;
  text-align: center;
}

.nav_top {
  position: absolute;
  clear:left;
  float:right;
  left:80%;
  top:1.5%;
  margin: 1%;
  font-size: 1.5vw;
}

.top li {
  list-style: none;
  text-decoration: none;
  display: inline;
  padding:1px;
  font-size: 80%;
}

/* Middle of page */

.middle_wrapper {
  border-bottom: solid lightgray 1px;
  width: 100%;
  height: 850px;
  margin:30px auto 0px auto;
}

.middle {
  width: 500px;
  float: left;
  margin-left: 10%;
}

.middle h2 {
  font-size: 40px;
  margin-bottom: 0;
}

.middle li {
  padding: 2px;
  font-size: 12px;
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

.middle img {
  width: 120px;
  height: 25px;
}

#prof {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.indent {
  position: relative;
  margin-left: 20px;
  border-left: solid 1px lightgray;
  color:#008DDB;
  font-size:20px;
  height: 40px;
}

.indent div{
  position: absolute;
  left:0;
  top:-10px;
  margin-left: 20px;
}

.comments:hover {
  background: linear-gradient(rgb(208,234,245),rgb(208,234,245));
}

.comments img:hover {
  opacity: .2;
}

.profile {
  position: relative;
  float:right;
  width: 200px;
  height: 200px;
  margin-right: 10%;
  font-size: 12px;
}

.profile img {
  position: absolute;
  right:25%;
  left:25%;
  top:25%;
  bottom:25%;
  margin: 0px auto;
}

.profile p {
  position: relative;
  text-align: center;
  top:70%;
  margin: 1px;
}

.social_link {
  margin: 0px auto;
  text-align: center;
  position: relative;
  top: 71%;
  font-size: 10px;
}

.profile li, a{
  text-align: center;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  color:gray;
}

.ad {
  position: relative;
  float:right;
  height:200px;
  width:200px;
  background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.7)),
              url('../images/paddle_boarder.png');
  background-size: cover;
  margin-right: 10%;
  margin-top: 25px;
  clear:right;
}

.ad a {
  position: absolute;
  right: 0;
  bottom: -12px;
  font-size: 10px;
}

.sidebar {
  float:right;
  height: 300px;
  width:200px;
  margin-right: 10%;
  margin-top:50px;
  clear:right;
}

.sidebar h3 {
  fint-size: 12px;
  color:#008DDB;
  margin: 0;
}

.sidebar p {
  font-size: 10px;
  color:gray;
  margin: 0;
}

.most_posts  {
  font-size: 30px;
  text-align: center;
  width: 90%
  height: 400px;
  margin:30px auto;
}

.most_posts h2 {
  margin: 0;
  color:#00466D;
}

/* Bottom of page */

.bottom {
  height: 200px;
  width: 100%;
  margin: 0px auto;
}

.images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
          flex-direction: row;
}

.images a {
  float:left;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.images li {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 10px 80px 10px 10px;
  list-style: none;
  text-decoration: none;
  color: #00466D;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: left;
}

.img_links1 {
  background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
              url('../images/surfdog.jpg');
  width:25%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-size: cover;
  position: relative;
  order: 1;
}

.img_links1:hover {
  background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
              url('../images/surfdog.jpg');
  width:25%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-size: cover;
  position: relative;
  order: 1;
}

.img_links2 {
  background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
              url('../images/beer.jpg');
  width:25%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-size: cover;
  position: relative;
  order: 1;
}

.img_links2:hover {
  background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
              url('../images/beer.jpg');
  width:25%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-size: cover;
  position: relative;
  order: 1;
}

.img_links3 {
  background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
              url('../images/zach.jpg');
  width:25%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-size: cover;
  position: relative;
  order: 2;
}

.img_links3:hover {
  background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
              url('../images/zach.jpg');
  width:25%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-size: cover;
  position: relative;
  order: 2;
}

.img_links4 {
  background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
              url('../images/taps.jpg');
  width:25%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-size: cover;
  position: relative;
  order: 2;
}

.img_links4:hover {
  background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
              url('../images/taps.jpg');
  width:25%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-size: cover;
  position: relative;
  order: 2;
}

.img_links1:hover li {
  color: white;
}
.img_links2:hover li {
  color: white;
}
.img_links3:hover li {
  color: white;
}
.img_links4:hover li {
  color: white;
}

.footer {
  position: relative;
  background-color:#10354C;
  width:100%;
  height: 80px;
  margin:0px auto;
  text-decoration: none;
  list-style: none;
  font-size: 1.5vw;
  color:#BAC0C5;
}

.logo2 {
  position: absolute;
  left:10%;
  top:25%;
  float:left;
  display: inline-block;
  width: 50%;
}

.nav2 {
  position: absolute;
  left:64%;
  top:44%;
  float:right;
  display: inline-block;
}

.logo2>a {
  padding-right: 10px;
  float:left;
}

.logo2>p {
  float:left;
}

.nav2>li {
  display: inline;
}

/* 1200 width */

@media (min-width: 668px) and (max-width: 1024px) {

  .middle {
    margin: 0 auto;
    width: 90%;
    float: none;
    padding-bottom: 50px;
  }


  .bottom {
    height: 400px;
  }

  .img_links1 {
    background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
                url('../images/surfdog.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 1;
  }

  .img_links1:hover {
    background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
                url('../images/surfdog.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 1;
  }

  .img_links2 {
    background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
                url('../images/beer.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 1;
  }

  .img_links2:hover {
    background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
                url('../images/beer.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 1;
  }

  .img_links3 {
    background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
                url('../images/zach.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 2;
  }

  .img_links3:hover {
    background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
                url('../images/zach.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 2;
  }

  .img_links4 {
    background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
                url('../images/taps.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 2;
  }

  .img_links4:hover {
    background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
                url('../images/taps.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 2;
  }

  .middle_wrapper {
    height: 100%;
  }

  .profile {
    display: none;
  }

  .ad {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .nav_top {
    font-size: 2vw;
    left: 75%;
  }

}

@-webkit-media (min-width: 650px) and (max-width: 1024px) {

  .middle {
    margin: 0 auto;
    width: 90%;
    float: none;
    padding-bottom: 50px;
  }


  .bottom {
    height: 400px;
  }

  .img_links1 {
    background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
                url('../images/surfdog.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 1;
  }

  .img_links1:hover {
    background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
                url('../images/surfdog.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 1;
  }

  .img_links2 {
    background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
                url('../images/beer.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 1;
  }

  .img_links2:hover {
    background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
                url('../images/beer.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 1;
  }

  .img_links3 {
    background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
                url('../images/zach.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 2;
  }

  .img_links3:hover {
    background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
                url('../images/zach.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 2;
  }

  .img_links4 {
    background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
                url('../images/taps.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 2;
  }

  .img_links4:hover {
    background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
                url('../images/taps.jpg');
    width:50%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 2;
  }

  .middle_wrapper {
    height: 100%;
  }

  .profile {
    display: none;
  }

  .ad {
    display: none;
  }

  .sidebar {
    display: none;
  }

}

@media (max-width: 668px) {

  .middle {
    margin: 0 auto;
    width: 90%;
    float: none;
    padding-bottom: 50px;
  }


  .bottom {
    height: 800px;
  }

  .img_links1 {
    background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
                url('../images/surfdog.jpg');
    width:100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 1;
  }

  .img_links1:hover {
    background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
                url('../images/surfdog.jpg');
    width:100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 1;
  }

  .img_links2 {
    background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
                url('../images/beer.jpg');
    width:100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 1;
  }

  .img_links2:hover {
    background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
                url('../images/beer.jpg');
    width:100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 1;
  }

  .img_links3 {
    background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
                url('../images/zach.jpg');
    width:100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 2;
  }

  .img_links3:hover {
    background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
                url('../images/zach.jpg');
    width:100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 2;
  }

  .img_links4 {
    background: linear-gradient(rgba(64,135,191,0.7),rgba(64,135,191,0.9)),
                url('../images/taps.jpg');
    width:100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 2;
  }

  .img_links4:hover {
    background: linear-gradient(rgba(64,135,191,0.2),rgba(64,135,191,0.2)),
                url('../images/taps.jpg');
    width:100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    order: 2;
  }

  .middle_wrapper {
    height: 100%;
  }

  .profile {
    display: none;
  }

  .ad {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .nav_top {
  position: absolute;
  clear: left;
  float: right;
  left: 70%;
  top: 1.5%;
  margin: 1%;
  font-size: 3vw;
}

.logo_top img {
  display: inline-block;
  margin-left: 5px;
  width: 8%;
}

.logo_top h4 {
  display: inline-block;
  font-size: 2vw;
}

.middle li {
  padding: 2px;
  font-size: 14px;
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

#prof {
  width: 50px;
  height: 50px;
}

.footer {
  font-size: 3vw;
}

.logo2 {
  left:5%;
}

.images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
          flex-direction: column;
}

.logo2 p {
  display: none;
}

.nav2 {
  position: absolute;
  right: 0;
  top: 40%;
  left: 50%;
  width: 80%;
  float: right;
  display: inline-block;
}

.top h1 {
  color: white;
  position: relative;
  margin: 0px;
  top: 110px;
  font-size: 12vw;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.top p {
  top:115px;
}

.middle img {
  width: 80px;
  height: 20px;
}
